@import url(http://fonts.googleapis.com/css?family=Metrophobic);
html, body{
	margin: 0;
	padding: 0;
	height: 2000px;
	width: 100%;
  font-family: 'Metrophobic', sans-serif;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*********PRINT- THUMBNAIL*******/

.interactive-thumbnail{
 position: absolute;
 margin: 0 auto;
 text-align: center;
 top: 30%;
 left:35%;
}


.print-thumbnail{
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 30%;
  left: 35%;
  transition: 0.3s ease;
}


/* .print-thumbnail:hover{

  color: rgba(255,255,255, 0.1);
  text-shadow: 0 0 1px rgba(255,255,255,0.4);
  -shadow: 
    0 0 5px rgba(255,255,255,0.2),
    1px 1px 5px rgba(49,188,184,0.3),
    -4px -1px 5px rgba(251,131,250,0.3);
  }

*/

/*#Triangle:hover{

    color: rgba(255, 255, 255,0.1);
    text-shadow: 0 0 1px rgba(255, 255, 255,0.4);
    box-shadow: 
      0 0 5px rgba(255,255,255,0.2),
      1px 1px 5px rgba(49, 188, 184,0.3),
      -1px -1px 5px rgba(251, 131, 250,0.3);
  
}*/




/**************************POLYGONE**************************/

.interactive-polygon{
margin: 0 auto;
top: 55%;
position: absolute;
z-index: 99;
text-align:center;
 max-width: 100%;
 width: 100%;
}

.print-polygon{
margin: 0 auto;
top: 3%;
position: absolute;
z-index: 99;
text-align:center;
 max-width: 100%;
 width: 100%;
}


#contact-svg{
  width: 100%;
  height: auto;
}

#print-svg{
  width: 100%;
  height: auto;
}

#interactive-svg{
  width: 100%;
  height: auto;
}

.contact-polygon{
  margin:0 auto;
  text-align: center;
  max-width: 100%;
  min-width: 70%;
  width: 100%;
}




 /************** HORIZONTAL Navigational bar + logo *********/

#navigation-bar{
	position:relative;
	z-index: 5;
}

#nav-left{
	background-color: #09012a;
  height: 53px;
}


#nav-right {
	background-color: #09012a;
  height: 53px;
}



/*****------First Multiscroll band (BIG IMAGE)------*******/

.ms-left .ms-section{
	background-color: #09012a;
}

.ms-right .section1{
background-image: url(../images/white-noline-right-01.jpg);
background-repeat: no-repeat;
background-position: right;
background-size: auto;
/*
    position: relative;
  width: 100%;
  height: 100%;
   /* Preserve aspet ratio */
/*   max-width: 100%;
  min-width: 90%;
  min-height: 100%;

  background-attachment: fixed;*/
  border: 1px solid red;
}

.ms-left .section1{
background-image: url(../images/white-noline-left-01.jpg);
background-repeat: no-repeat;
background-position: left;
background-size: auto;
}

.ms-section.ms-table{
  display: table;
  width: 100%;
}


 .ms-right .ms-section{
 	background-color: white;
}

section.ms-right{
  right: 0px !important;
}

.landscape{
  position: relative;
  width: 100%;
  height: 100%;
   /* Preserve aspet ratio */
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
/*  background-size: auto;*/
}

.landscape-portfolio{
width: 100%;
}



/**************END OF MULTISCROLL*********************/


/**************SCROLL DOWN SIGN**********************/
/*#scrolldown {
  top:80%;
  height: 100px;
  margin-left: -50px;
  position: absolute;
  left: 50%;
  text-align: center;
  width: 100px;
  z-index: 100;
}
#scrolldown p {
  font: 700 0.7em/1em 'Avenir',sans-serif;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  color: #F27270;
}
#scrolldown > p {
  text-transform: uppercase;
  text-indent: 3px;
}
.mouse {
  border: 2px solid #F27270;
  border-radius: 13px;
  display: block;
  height: 46px;
  left: 50%;
  margin: 10px 0 0 -13px;
  position: absolute;
  width: 26px;
}
.mouse span {
  display: block;
  font-size: 1.5em;
  margin: 6px auto;
}
/*work on chrome/ opera/ safari*/
/*@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);

  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}
/*standard syntax*/
/*@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  };
}*/